@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url('/assets/gardenimg.png');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
